*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: bisque;
    font-family: 'ubuntu',sans-serif;
}
nav #nav ul li{
    list-style-type: none;
    display: inline-block;
    padding-right: 40px;
    
    
}
nav #nav ul{
    float: right;
    margin-top:15px;
    -webkit-box-align: center;
}
nav{
    width: 100%;
    position: fixed;
    height: 50px;
    background-color:#ed6663;
}
nav #nav ul li a{
    text-decoration: none;
    color: white;
}
nav #nav ul li a:hover{
    text-decoration: underline;
    
}
section{
    
    background-color: #924814;
}
.home{
    width: 100%;
    background-color: #a05b3f;
    text-align: center;
    font-size: 64px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    height: 100vh;
    

}
.home img{
    background-color: rgb(196, 105, 31);
    border: 2px solid white;
    border-radius: 100%;
}
.home h1{
    font-size: 55px;
    font-family: 'ubuntu',sans-serif;
    margin: 0em;
    padding: 0em;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.about{
    width: 100%;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSf6Odc0YF1O4mkq4X3QxkOG1QcYrhydxRUbw&usqp=CAU");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    display: table;
}
.about .inner{
    background-color: rgba(243, 176, 151,0.5);
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    width: 100%;
    height: 100vh;
    float: left;
}
.about .inner h1{
    margin-top: 20px;
    padding:20px;
    font-size:48px;
    
}
.about .inner p{
    line-height: 150%;
   padding: 20px;
    font-size: 32px;
}
.education,.hobbies,.skills,.contact{
    
    background-color: #a05b3f;
    display: table;
    height: 100vh;
    width: 100%;
}
.education h1,.hobbies h1,.contact h1{
    line-height: 150%;
    text-align: center;
    font-size: 42px;
    margin-bottom: 100px;
}
.education .inner,.hobbies .inner,.contact .inner,.skills .inner{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100vh;
    background-color: rgba(150, 117, 48, 0.4);
    padding: 10px;
}

.education .inner div,.hobbies .inner div,.contact .inner div,.skills .inner div {
    line-height: 200%;
    width: 30%;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    text-align: center;
    font-size: 130%;
    padding: 50px;
}

.hobbies .inner div p,.contact .inner div p{
   line-height: 150%;
    font-size: 36px;
} 
.education .inner div img,.hobbies .inner div img{
    width: 200px;
   height: auto;
   margin-bottom: 20px;
}
.skills{
    
    background-image: url('wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover ;
    background-position:0 -60px;
}

.skills .inner h1{
    padding-left: 50px;
    color: black;
    margin-top: 10%;
    font-size: 55px;
}
.skills .inner div ul li{
    
    color: black;
list-style-type: none;
padding: 20px;


font-size: 30px;
font-weight: bolder;
}

.contact .inner div {
   width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.contact .inner div p{
    text-align: center;
}
/* Responsive Designing */
@media (min-width:319px) and (max-width:767px){
    nav{
        height:140px;
    }
    nav #nav ul li{
        padding: 20px;
    }
    .home{
        width: 490px;
    }
    .about{
        width: 490px;
        height: 100vh;
        padding: 10px;
    }
    .education{
        width: 490px;
    }
    .home img{
        width: 130px;
        height: 170px;
        margin-top: 150px;
    }
    .home h1{
        font-size: 29px;
    }
    .about .inner p{
        font-size:12px;
    }
    .about .inner h1{
        margin-top: 25px;
        font-size:25px;
    }
    .education .inner div{
        margin-left: auto;
        margin-right: auto;
       
        float: left;
        width: 100%;
        border-bottom: 2px solid black;
        border-width: 0px;
        }
        .skills .inner div{
            margin-left: auto;
        margin-right: auto;
        float: left;
        width: 100%;
        border-bottom: 2px solid black;
        border-width: 0px;
        width: 100%;
            border-bottom:2px solid white;
        }
        .skills{
            width: 490px;
            background-image: none;
            background-color: black;
            height: 100%;
        }
        .skills .inner{
            background-color: rgb(0,0,0,0);
        }
        .skills .inner h1{
            text-decoration: underline;
            font-size: 50px;
            text-align: center;
        }
        .hobbies{
            width: 490px;
        }
        .hobbies .inner{
            width: 490px;
            padding: 30px;
        }
        .hobbies .inner div{
            float: left;
            width: 100%;
            border-bottom:2px solid black;
            background: -webkit-linear-gradient(top,rgb(88, 74, 74),rgb(99, 22, 22));
        }
        .hobbies .inner div p{
            color: rgb(235, 224, 224);
        }
        .hobbies .inner h1{
            text-decoration: underline;
        }
        .contact{
            width: 490px;
        }
        .contact p{
            border: 2px dashed black;
            padding: 20px;
        }
        .contact h1{
            text-decoration: underline;
        }
        @media(max-width:318px){
            nav{
                height:140px;
            }
            nav ul li{
                padding: 20px;
            }
            .home{
                width: 890px;
            }
            .about{
                width: 490px;
            }
            .home img{
                margin-top: 90px;
            }
            .about .inner p{
                font-size:24px;
            }
            .about .inner h1{
                margin-top: 25px;
                font-size:45px;
            }
            .education .inner div{
                margin-left: auto;
                margin-right: auto;
                float: left;
                width: 100%;
                border-bottom: 2px solid black;
                border-width: 0px;
                }
                .skills .inner div{
                    margin-left: auto;
                margin-right: auto;
                float: left;
                width: 100%;
                border-bottom: 2px solid black;
                border-width: 0px;
                width: 100%;
                    border-bottom:2px solid white;
                }
                .skills{
                    width: 490px;
                    background-image: none;
                    background-color: black;
                    height: 100%;
                }
                .skills .inner{
                    background-color: rgb(0,0,0,0);
                }
                .skills .inner h1{
                    text-decoration: underline;
                    font-size: 50px;
                    text-align: center;
                }
        
                .hobbies{
                    
                    width: 490px;
                }
             
                .hobbies .inner div{
                    float: left;
                    width: 100%;
                    border-bottom:2px solid black;
                    background: -webkit-linear-gradient(top,rgb(88, 74, 74),rgb(99, 22, 22));
                }
                .hobbies .inner div p{
                    color: rgb(235, 224, 224);
                }
                .hobbies .inner h1{
                    text-decoration: underline;
                }
                .contact{
                    width: 490px;
                }
                .contact p{
                    border: 2px dashed black;
                    padding: 20px;
                }
                .contact h1{
                    text-decoration: underline;
                }
        }
}
